<form action="/items" method="post">
  <label for="description">Add a new item</label>
  <input id="description" name="description" type="text">
  <label for="priority">Set priority:</label>
  <select name="priority" id="priority">
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>

  <button type="submit">Submit</button>
</form>